<!-- {% extends "user/index.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
	<center>
        <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
          {% csrf_token %}
          Enter Input Value: <input type="text" name="input_value"><br><br>
          Enter Search Value: <input type="text" name="search_value"><br><br>
          <input type="submit">
        </form>
    </center>
</div>

{% endblock %} -->